/*
färger:
Titles Grön: #0a846e
Ta bort-button röd: #b93857
Brun färg: #9e6d52
Nav text: #055647


fonter:
Open-Sans: text
Lato: Rubriker
Maven Pro: Titel
*/

/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* == Färgvariabler == */
  --title-green: #0a846e;
  --btn-red: #b93857;
  --brown: #9e6d52;
  --nav-green: #055647;
  --light-pink: #fcf5fc;

  /* ==  Typsnitt == */
  --font-title: "Maven Pro", sans-serif; /* Titel */
  --font-heading: "Lato", sans-serif; /* Rubriker */
  --font-body: "Open Sans", sans-serif; /* Text */

  /* == Storlekar == */
  --gap: 1rem;

  /* == Design == */
  --box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--light-pink);
}
body {
  margin: auto;
  padding: 0;
  background-color: #fcf6fc;
  font-family: var(--font-body);

  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "new-plant"
    "planned-plants"
    "planted-plants"
    "footer";
  gap: var(--gap);
}

.grid-container h3,
.grid-container h4 {
  font-weight: 600;
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-align: center;
}

header {
  grid-area: header;
}
.new-plant {
  grid-area: new-plant;
}
.planned-plants {
  grid-area: planned-plants;
}
.planted-plants {
  grid-area: planted-plants;
}
footer {
  grid-area: footer;
}

/* == Header ==*/

.header {
  position: relative;
  width: 100%;
  min-height: 360px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.header-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.header nav {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.header h1 {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  bottom: 4%;
  transform: translateX(-50%);
  color: white;
  z-index: 1;

  font-weight: 500;
  font-family: var(--font-title);
}
.main-nav {
  position: absolute;
  z-index: 1;
  width: 100%;
  font-family: var(--font-title);
  font-weight: 500;
  font-size: 20px;
}
.full-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.full-menu li {
  display: inline-block;
}
.burger-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
}

/* == Forms / add new plant ==*/

.new-plant {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-plant h2 {
  text-align: center;
  font-weight: 300;
}
.new-plant form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  max-width: 400px;
}
.new-plant label {
  margin-bottom: -0.75rem;
  font-weight: 200;
}
.input-box {
  padding: 0.5rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
}
.new-plant button {
  display: block;
  margin: auto;
  margin-top: 0.5rem;

  width: 30%;
  padding: 0.5rem;

  border: none;
  border-radius: 6px;
  background-color: var(--title-green);
  box-shadow: var(--box-shadow);
  font-weight: 500;

  cursor: pointer;

  color: white;
  font-size: 1rem;
}

#planta2,
#datum2,
#label-planta2,
#label-datum2 {
  display: none;
}
/* == Listed Plants ==*/
.planned-plants ul,
.planted-plants ul {
  padding: var(--gap);
  display: flex;
  justify-content: start;
  gap: var(--gap);
  list-style: none;
  margin: 0 auto;
  max-width: 500px;
}

.listed_plant {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70% 12% 18%;
  grid-template-areas:
    "img img"
    "name date"
    "footer delete";

  width: clamp(12rem, 20vw, 16rem);
  height: clamp(15rem, 25vw, 20rem);
  box-shadow: var(--box-shadow);
  position: relative;
}
.plant-img {
  grid-area: img;

  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.plant-icon {
  display: none;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  z-index: 2;
}
.plant-name {
  grid-area: name;

  align-self: end;
  padding-left: 0.3rem;

  font-weight: 600;
}
.plant-date {
  grid-area: date;

  white-space: nowrap;
  align-self: end;
  justify-self: end;

  padding-right: 0.8rem;
  font-size: 0.8rem;
  font-weight: 700;
}
.plant-footer {
  grid-area: footer;

  align-self: flex-end;
  justify-self: start;
  color: #333;
  padding: 0.3rem;
  padding-bottom: 0.6rem;
  white-space: nowrap;

  font-size: 0.8rem;
}
.delete-btn {
  grid-area: delete;

  align-self: end;
  justify-self: end;
  padding: 0.3rem;
  background: transparent;
  border: none;
  cursor: pointer;

  font-weight: 300;
}
.delete-btn img {
  width: 20px;
  height: 20px;
  display: block;
}
.edit-btn {
  display: none;
}

/* == Footer ==*/

footer {
  text-align: center;
}
footer figure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;

  background-color: var(--brown);
  margin: 0px;
  padding: var(--gap);
}

footer figure img {
  opacity: 73%;
  width: 100%;
  height: clamp(90px, 20vw, 277px);
  object-fit: cover;
}
footer h5 {
  font-weight: 300;
  cursor: pointer;
}

@media (min-width: 500px) {
  body {
    max-width: 1000px;
    height: auto;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  }

  /* == Navbar ==*/
  .main-nav {
    position: fixed;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: var(--box-shadow);
  }
  .burger-menu {
    display: none;
  }
  .full-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .full-menu li a {
    text-decoration: none;
    color: var(--nav-green);
    font-weight: 500;
    font-family: var(--font-title);
  }

  /* == Add new plant ==*/
  .new-plant form {
    max-width: 100%;
    padding: 1rem;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "label-planta1 label-datum1"
      "planta1 datum1"
      "label-planta2 label-datum2"
      "planta2 datum2"
      "submit submit";
  }
  .new-plant h2 {
    grid-area: titel;
    text-align: left;
    margin-left: var(--gap);
  }
  #planta1 {
    grid-area: planta1;
  }
  #datum1 {
    grid-area: datum1;
  }
  #label-planta2 {
    display: block;
  }
  #submit-planta {
    display: block;
    grid-area: submit;
  }
  #planta2 {
    display: block;
    grid-area: planta2;
  }
  #label-datum2 {
    display: block;
  }
  #datum2 {
    display: block;
    grid-area: datum2;
  }

  /* == ALL Listed Plants ==*/
  .planned-plants ul,
  .planted-plants ul {
    max-width: 1000px;
  }
  .listed_plant {
    width: clamp(12rem, 18vw, 16rem);
    height: clamp(15rem, 23vw, 20rem);
  }
  .plant-icon {
    display: block;
  }
  .delete-btn {
    background-color: var(--btn-red);
    color: white;
    font-weight: 700;
    font-family: var(--font-body);
    font-size: clamp(0.6rem, 1vw, 0.7rem);
    border-radius: 8px;
    margin: 0.6rem;
    margin-top: 0;
    width: 5rem;
    height: 1.5rem;
    padding-left: clamp(0.2rem, 0.8vw, 0.6rem);
    padding-right: clamp(0.2rem, 0.8vw, 0.6rem);
  }
  .delete-btn img {
    display: none;
  }
  .delete-btn::after {
    content: "TA BORT";
  }

  /* == Planned Plants ==*/
  .planned-plants .listed_plant {
    grid-template-rows: 70% auto auto auto;
    grid-template-areas:
      "img img"
      "name date"
      "footer edit"
      "footer delete";
    height: 22rem;
  }
  .planned-plants .edit-btn {
    grid-area: edit;
    display: block;
    justify-self: flex-end;
    align-self: center;
    margin: 0.6rem 0.6rem 0 0.6rem;
    padding: 0.4rem;
    width: 5rem;
    height: 1.5rem;
    background-color: var(--title-green);
    color: white;
    font-weight: 700;
    font-family: var(--font-body);
    font-size: clamp(0.6rem, 1vw, 0.7rem);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  /* == Footer ==*/
  footer figure {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  footer figure img {
    min-height: 90px;
  }
}
